body {
	margin: 0;
	padding: 0.8rem 1.6rem;

	font-family: 'Roboto', sans-serif;
	color: #495057;
}

h4 {
	margin: 1.2rem 0 0 0;
}

#done_toggle {
	margin: 0.8rem 0 0 0;
}

.button_for_show {
	border-left : solid 2px #000;
	border-top : solid 2px #000;
	width: 0.6rem;
	height: 0.6rem;
	transform : rotate(45deg);
	position: relative;
	bottom: -4px;

	margin-left: 0.6rem;
}

#add_form .form-group {
	margin: 1.2rem 0;
}
#add_form button {
	margin: 0.8rem 0;
}